In [5]:
import pandas as pd
import numpy as np

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.440965,0.616509,0.885729,0.812958,0.790941,0.018577,0.531970,0.047984,0.405431,0.372382,...,0.710364,0.103109,0.670740,0.751406,0.395116,0.748238,0.176922,0.878434,0.559498,0.592455
1,0.429471,0.380053,0.757797,0.621560,0.826007,0.361362,0.444877,0.323571,0.581262,0.281334,...,0.298380,0.936562,0.619044,0.454470,0.394428,0.106188,0.722268,0.006353,0.745170,0.969016